body {
    grid-template-columns: [start sidebar-start] 1fr 
        [sidebar-end content-start] 4fr [end content-end];
    grid-template-rows: [start header-start] 1fr [header-end content-start] 
        3fr [content-end content-two-start] 5fr [content-two-end footer-start]
        auto [end footer-end];
}


.table-wrapper {
    max-height: 300px; 
    overflow-y: auto;
}

/* Register form CSS */


.form-group {
    margin: 15px;
    position: relative;
}
.form-group label {
    display: inline-block;
    margin-left: 5%;
    width: 15%;
    color: var(--fourth-color);
    font-weight: 600;
}


.form-input {
    width: 70%;
    background-color: var(--main-color);
    padding: 8px;
    margin-top: 5px;
    border: 1px solid var(--fourth-color);
    border-radius: 4px;
}

.error-message {
    color: #ff0000;
    font-size: 0.8rem;
    margin-left: 21%;
    display: block;
    margin-top: 5px;
}

.error-alert {
    background-color: #ffcccc;
    color: #cc0000;
    border: 1px solid #cc0000;
    border-radius: 4px;
    padding: 10px;
    margin-left: 21%; 
    margin-right: 20%;
    margin-top: 10px;
    margin-bottom: 20px;
}

.buttonAdd {
    margin-left: 5%;
}

.success-alert {
    background-color: var(--main-color);
    color: var(--fourth-color);
    border: 1px solid var(--fourth-color);
    border-radius: 4px;
    padding: 10px;
    margin-left: 21%; 
    margin-right: 20%;
    margin-top: 10px;
    margin-bottom: 20px;
}